


<h1>Contact Me</h1>
<p> If you like the boilerplate things and bland design of this semi-app, PLEASE pick up the phone and call now. Operators are bored,but still they're standing by!
<p>My Google voice phone number is (555)555-1212</p> 
<p> Call day or night- </p>

