

<h1>This is the One Month testing ground, sandbox, prove it or loose it, code until your knuckles scream-- home page</h1>
<p>My first Rails app/site! </p>
</b>
 <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem ad perferendis dicta vitae itaque, magni odio quis perspiciatis saepe sit assumenda, nisi id temporibus blanditiis facere nobis ea asperiores hic?</p>
 <p>Anim consectetur aliquip aliqua irure nisi. Sunt ex non ullamco do officia amet elit commodo sint ea proident dolor. Dolor voluptate voluptate nostrud ut officia eu minim mollit consectetur ullamco eu id ut eu. Duis duis irure laborum in veniam consequat minim minim veniam dolore. Minim aliqua consectetur commodo occaecat veniam magna quis do est laborum cupidatat adipisicing velit. Laborum nisi mollit labore consequat enim minim. Quis velit nostrud cillum duis laboris.</p>

